body {
    font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color: #434343;
    margin-left: 32px;
}

input,
select {
    margin-right: 16px;
}

label {
    margin-right: 16px;
}
