25 01 * * * /home/www/cron_scripts/run_spotify_update.sh >> /home/www/cron_scripts/run_spotify_update
17 04 * * * /home/www/cron_scripts/backup_db.sh          >> /home/www/cron_scripts/backup_db_results
47 04 * * * /home/www/cron_scripts/delete_old_backups.sh >> /home/www/cron_scripts/delete_old_backups_results
47 05 * * * /home/www/cron_scripts/update_db_stats.sh    >> /home/www/cron_scripts/update_db_stats_results
11 05 * * * /home/www/cron_scripts/run_lastfm_updates.sh >> /home/www/cron_scripts/run_lastfm_updates_results
