input,
select {
    margin-right: 16px;
    margin-left: 8px;
}

label {
    margin-right: 16px;
}

.label {
    color: green;
    margin-right: 16px;
}

.filter input[type="number"] {
    width: 100px;
}

.filter {
    margin-bottom: 16px;
}
