name: Build and deploy app

on:
    push:
        tags:
            - "app-v[0-9]+.[0-9]+.[0-9]+"

jobs:
    build-and-push-app:
        name: Build and push "app" image
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v3

            - name: Docker meta
              id: meta
              uses: docker/metadata-action@v4
              with:
                  images: jkulak/smartplaylist-app
                  tags: |
                      type=ref,event=branch
                      type=ref,event=tag
                      type=raw,value=latest

            - name: Login to DockerHub
              uses: docker/login-action@v2
              with:
                  username: ${{ secrets.DOCKERHUB_USERNAME }}
                  password: ${{ secrets.DOCKERHUB_TOKEN }}

            - name: Build and push "listener"
              uses: docker/build-push-action@v3
              with:
                  context: ./app
                  push: true
                  tags: ${{ steps.meta.outputs.tags }}
    deploy-listeners:
        name: Redeploy "app"
        runs-on: ubuntu-latest
        needs: [build-and-push-app]
        steps:
            - name: Deploy docker container webhook
              uses: joelwmale/webhook-action@master
              with:
                  node-version: "16"
                  url: ${{ secrets.DEPLOY_WEBHOOK_URL }}/deploy-app
                  headers: '{"secret": "${{ secrets.WEBHOOK_SECRET }}"}'
